<div class="component dark">
    <app-page-header
        [src]="'contact.jpg'"
        [title]="'Áraink'"
    ></app-page-header>
    <div class="medium-padding">
        <div class="middle-top-text">Árakról</div>
        <hr class="orange">
        <div class="middle-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit esse quibusdam possimus necessitatibus nostrum accusamus ullam minima commodi? Fugiat aliquam nemo quam consequatur, nobis amet earum iusto. Consectetur, ipsum totam?</div>
        <div class="middle-top-text padding-top-10">Felszerelés</div>
        <hr class="orange">
        <div class="middle-text pb-5">
            Minden csomaghoz biztosítjuk a játékhoz szükséges alapfelszereléseket.</div>
        <div class="container-flex">
            <div class="row">
                <div 
                    class="col-lg-3 col-md-4 col-sm-6 col-12 pb-5"
                    *ngFor="let equipment of equipments">
                    <app-description-card [equipment]="equipment"></app-description-card>
                </div>
            </div>
        </div>
        <div class="middle-top-text padding-top-10">Válaszd ki a hozzád illő csomagot!</div>
        <hr class="orange">
        <app-packages></app-packages>
    </div>
    <app-book-now></app-book-now>
</div>
