<div class="component dark">
    <app-page-header
        [src]="'money.jpg'"
        [title]="'Áraink'"
    ></app-page-header>
    <div class="medium-padding">
        <div class="middle-top-text">Árakról</div>
        <hr class="orange">
        <div class="middle-text">
            <div><strong>Alapár:</strong> 3000 Ft/fő (tartalmazza a teljes felszerelés, pálya bérleti díját, játékidő a választott csomagtól függ)</div>
            <div class="pb-3">Az első tár megvétele kötelező(200db)!</div>
            <div class="font-weight-bold">Golyó árak:</div>
            <ul>
                <li>8-12 fős csapatok esetén: 15Ft/db</li>
                <li>13-20 fős csapatok esetén: 14 Ft/db</li>
                <li>20-30 fős csapatok esetén: 12 Ft/db</li>
                <li>30-35 fős csapatok esetén: 10 Ft/db</li>
            </ul>
        </div>
        <div class="middle-top-text padding-top-8" #equipmentsElement>Felszerelés</div>
        <hr class="orange">
        <div class="middle-text pb-5">
            Minden csomaghoz biztosítjuk a játékhoz szükséges alapfelszereléseket.</div>
        <div class="container-flex">
            <div class="row">
                <div 
                    class="col-xl-3 col-sm-6 col-12 pb-5 reveal"
                    *ngFor="let equipment of equipments">
                    <app-description-card [equipment]="equipment"></app-description-card>
                </div>
            </div>
        </div>
        <div class="middle-top-text padding-top-10">Válaszd ki a hozzád illő csomagot!</div>
        <hr class="orange">
        <app-packages></app-packages>
    </div>
    <app-book-now></app-book-now>
</div>
