<div class="dark-background">
    <div class="big-padding large-text">
      <div class="padding-bottom-4">Legjobb képeink:</div>
      <div class="swiper">
        <div class="content-container">
          <swiper class="swiper-container" [config]="config" [index]="3">
            <div *ngFor="let slide of slides" class="swipe-slide">
              <img src="../../../../assets/pictures/map-from-top.png" alt="">
            </div>
          </swiper>
        </div>
      </div>       
    </div>
</div>