.swiper-container {
    width: 100%;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 500px;
    height: 300px;
    border-radius: 25px;
}
.swiper {
    background: transparent;
    margin: 0;
    padding: 0;
}

img{
    height: auto;
    width: 99%;
}