<div class="dark-background">
    <div class="big-padding">
        <div class="row">
            <div id="map-content" class="col-xl-6 col-12">
                <div class="middle-top-text font-weight-bold" >Élményre vágysz?</div>
                <hr class="orange left">
                <div class="middle-text">
                    Ha egy igazán jó paintball pályát keresel, vagy csak egy jó kikapcsolódási lehetőségre vágysz, akkor a legjobb helyen jársz.  A <strong>GYENES PAINTBALL</strong> több, mint 10000 négyzetméreren, 3 profin megépített pályával várja a kalandra vágyó vendégeit. Kedves és hozzáértő személyzet irányítja a változatos játékot.
                </div>
            </div>
            <div id="best-track-map" class="col-xl-6 col-12 pt-5">
                <img src="../../../../assets/pictures/maps/map-top.jpg" alt="">
            </div>
        </div>
        <div class="center">
            <div
                [routerLink]="['/map']"
                class="cbtn cbtn-one big">
                <span>Részletek</span>
            </div>
        </div>
    </div>
</div>