<div class="best-track">
    <div class="big-padding">
        <div class="row">
            <div id="map-content" class="col-xl-6 col-12">
                <div>Óriási pálya</div>
                <hr>
                <div>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea, eos est. Maxime, veniam! Laborum, cupiditate itaque, architecto, rerum culpa commodi repellendus in blanditiis fugiat laboriosam ipsam quisquam libero eligendi exercitationem?
                </div>
            </div>
            <div class="col-xl-6 col-12">
                <img src="../../../../assets/pictures/map-from-top.png" alt="">
            </div>
        </div>
        <div class="center">
            <div
                [routerLink]="['/map']"
                class="cbtn cbtn-one big">
                <span>Részletek</span>
            </div>
        </div>
    </div>
</div>