.best-track {
   width: 100%;
   background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8));
   color: rgb(255, 235, 204);
}

.big-padding {
    padding-top: 25vh;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 15vh;
}

hr {
    border-top: 3px solid rgb(209, 81, 26);
}

#map-content div:nth-child(1) {
    font-size: 10vh;
}
#map-content div:nth-child(3) {
    font-size: 3vh;
    padding-bottom: 7vh;
}

img {
    width: 100%;
    border-radius: 25px;
}

.center {
    text-align: center;
    padding-top: 12vh;
}


.btn {  
  text-align: center;
  cursor: pointer;
}

.btn.big {
  line-height: 95px;
  height: 100px;
  width: 400px;
  font-size: 25px;
}

.btn.small {
  line-height: 75px;
  height: 80px;
  width: 200px;
  font-size: 25px;
}


@media screen and (max-width: 450px) {
  .btn.big {
    line-height: 85px;
    height: 90px;
    width: 80%;
    font-size: 25px;
  }

  .btn.small {
    line-height: 65px;
    height: 70px;
    width: 150px;
    font-size: 20px;
  }
}

.btn-one {
  color: rgb(255, 235, 204);
  position: relative;
}

.btn-one:hover {
  color: rgb(209, 81, 26);
}

.btn-one span {
  transition: all 0.1s;
}
.btn-one::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgb(209, 81, 26);
  border-bottom-color: rgb(209, 81, 26);
  transform: scale(0.1, 1);
}
.btn-one:hover span {
  letter-spacing: 3px;
}
.btn-one:hover::before {
  opacity: 1; 
  transform: scale(1, 1); 
}
.btn-one::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255,255,255,0.1);
  border-radius: 25px;
}
.btn-one:hover::after {
  opacity: 0; 
  transform: scale(0.1, 1);
}