<div class="row justify-content-end pt-5" style="width: 100%;">
    <div class="col-4 text-center">
        <button [disabled]="activeMode" (click)="toggleActive(true, stepper)">Aktív</button>
        <button [disabled]="!activeMode" (click)="toggleActive(false, stepper)">Archivált</button>
    </div>
    <div class="col-4 text-right">
        <button [routerLink]="['new']" class="round">+</button>
    </div>
</div>
<div class="row text-center pt-5">
    <div class="col-12 middle-text">Rendezés</div>
    <div class="col-6">
        <button 
        [ngClass]="{'active': dateSort}"
        (click)="sortDate()">Dátum</button>
        <button 
            data-toggle="tooltip" data-placement="right" [title]="dateDesc ? 'Növekvő' : 'Csökkenő'"
            class="arrow" (click)="dateDesc = dateDesc ? false: true">
            <img
                [ngClass]="{'up': dateDesc}"
                src="../../../../assets/icons/arrowup.png" alt="">
        </button>
    </div>
    <div class="col-6">
        <button
            [ngClass]="{'active': !dateSort}"
            (click)="sortCreation()">Létrehozás</button>
        <button 
            data-toggle="tooltip" data-placement="right" [title]="!createDesc ? 'Növekvő' : 'Csökkenő'"
            class="arrow" (click)="createDesc = createDesc ? false: true">
            <img
                [ngClass]="{'up': !createDesc}"
                src="../../../../assets/icons/arrowup.png" alt="">
        </button>
    </div>
</div>
<mat-horizontal-stepper id="operator-reservations" linear #stepper>
    <mat-step label="Aktív">
        <div class="medium-padding">
            <div class="middle-top-text text-center pb-5">Aktív foglalások</div>
            <app-reservation-list [activeMode]="true"></app-reservation-list>
        </div>
    </mat-step>
    <mat-step label="Archived">
        <div class="medium-padding">
            <div class="middle-top-text text-center pb-5">Archivált foglalások</div>
            <app-reservation-list [activeMode]="false"></app-reservation-list>
        </div>
    </mat-step>    
</mat-horizontal-stepper>