.component-home {
    overflow-x: hidden;
    margin: 0px;
    background: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.0));
}
.component.dark {
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8));
}

/* @media screen and (min-width: 721px) {
    .component {
        --image-url: url(../../../assets/pictures/home.jpg);
    }
    .component.dark {
        background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), var(--image-url) 20% 0%;
    }
}

@media screen and (max-width: 720px) {
    .component {
        --image-url: url(../../../assets/home-full-phone.jpg);
        background: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.0)), var(--image-url) 50% 0%;
    }
    .component.dark {
        background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), var(--image-url) 50% 0%;
    }
} */