<div class="row" >
    <div
        (click)="prevMonth()"
        class="cbtn cbtn-one dark small">
        <span>Hátra</span>
    </div>
    <div
        (click)="nextMonth()"
        class="cbtn cbtn-one dark small">
        <span>Előre</span>
    </div>
</div>
<div>
    {{ refDate.getMonth() }}
</div>
<div class="flx">
    <div class="box day">
        H
    </div>
    <div class="box day">
        K
    </div>
    <div class="box day">
        Sz
    </div>
    <div class="box day">
        Cs
    </div>
    <div class="box day">
        P
    </div>
    <div class="box day">
        Sz
    </div>
    <div class="box day">
        V
    </div>   
</div>
<div
    *ngFor="let week of weeks"
    >
    <div class="flx">
        <div
            class="box"
            [ngClass]="{'active': !day.disabled, 'off': day.off, 'disabled': day.disabled, 'today': day.today, 'closed': day.closed }"
            *ngFor="let day of week.days">
                <div *ngIf="day.off || day.disabled || day.closed" >
                    {{ day.off ? 'off' : day.date.getDate()}}
                </div>
                <div
                    *ngIf="!day.off && !day.disabled && !day.closed"
                    [routerLink]="['/booking/date/', day.date.getTime(), 'time-table']">
                    {{ day.date.getDate()}}
                </div>
        </div>
    </div>
</div>