<ng-template appPlaceholder></ng-template>

<div class="padding-top-4">
    <div class="container card text-center pb-4">
        <div class="calendar-row middle-top-text pb-4 pt-3 orange">
            {{ refDate.getFullYear() }}. {{ months[refDate.getMonth()] }}
        </div>
        <div class="row text-center middle-text">
            <div class="col-xl-5 col-4 text-left left">
                <span
                    *ngIf="hasPrevMonth()"
                    (click)="prevMonth()"
                    class="button middle-text">
                        <span class="prev-up">
                            {{ (refDate.getMonth() === 0) ? months[11].substring(0,3) + '.' : months[refDate.getMonth()-1].substring(0,3)+ '.' }}
                        </span>
                        <img src="../../../../../assets/icons/seo-and-web.png" alt="">
                        <span class="prev-down">
                            {{ (refDate.getMonth() === 0) ? months[11].substring(0,3) + '.' : months[refDate.getMonth()-1].substring(0,3)+ '.' }}
                        </span>
                    </span>
            </div>
            <div class="col-xl-2 col-4 text-center">
                <span
                    *ngIf="notThisMonth()"
                    (click)="jumpToToday()" 
                    class="button middle-text">
                    <span class="top-padding">Ma</span>
                 </span>
            </div>
            <div class="col-xl-5 col-4 text-right right">
                <span
                    (click)="nextMonth()"
                    class="button middle-text">
                    <span class="next-up">
                        {{ (refDate.getMonth() === 11) ? months[0].substring(0,3)+ '.' : months[refDate.getMonth()+1].substring(0,3)+ '.' }}
                    </span>
                    <img class="mirror" src="../../../../../assets/icons/seo-and-web.png" alt="">
                    <span class="next-down">
                        {{ (refDate.getMonth() === 11) ? months[0].substring(0,3)+ '.' : months[refDate.getMonth()+1].substring(0,3)+ '.' }}
                    </span>
                </span>
            </div>
        </div>
        <hr>
        <div class="flx middle-text">
            <div class="text-center box">H</div>
            <div class="text-center box">K</div>
            <div class="text-center box">Sz</div>
            <div class="text-center box">Cs</div>
            <div class="text-center box">P</div>
            <div class="text-center box">Sz</div>
            <div class="text-center box">V</div>
        </div>
        <hr>
        <div *ngFor="let week of weeks">
            <div class="flx">
                <div
                    class="text-center box"
                    *ngFor="let day of week.days">
                    <span
                        [ngClass]="{
                            'off': day.off,
                            'disabled': day.disabled,'today': day.today,
                            'closed': day.closed, 'selected': day.selected }"
                        (click)="selectDay(day)"
                        class="button small">
                        {{ day.off ? "" :(day.date.getDate() < 10 ?
                           "0"+day.date.getDate() : day.date.getDate() ) }}
                    </span>
                </div>
            </div>
            <hr class="small">
        </div>
    </div>
</div>