.card {
    background-color: #333534;
    border-radius: 25px;
}

span {
    padding: calc((0.8vw + 2vh)/2);
    border-radius: 50px;
}

span.disabled {
    opacity: 0.3;
    pointer-events: none;
    cursor: default;
}

span.closed {
    background-color: rgba(255, 0, 0, .7);
}

span.today {
    background-color: rgba(255, 166, 0, 0.8);
    cursor: pointer;
}

span.selected {
    background-color: green;
}

.flx {
    display: flex;
    justify-content: space-between;
    line-height: calc(0.5vw + 2vh + 1vh);
}

.box {
    width: 14.28%;
}

.cbtn.small {
    position: relative;
    /* top: 25%; */
    line-height: 70px;
    height: 70px;
    width: 70px;
    font-size: 30px;
}

.cbtn.small.arrow {
    line-height: 70px;
    height: 70px;
    width: 70px;
    font-size: 50px;
}

.orange {
    color: rgb(209, 81, 26);
}

.button {
    font-size: calc(1vw + 2.5vh);
}

.button.small {
    position: relative;
    font-size: calc(0.5vw + 2vh);
    top: 0.3vh;
}
hr {
    position: relative;   
    border: 2px solid lightgray;
    opacity: 0.7;
}

hr.small {
    border: .5px solid lightgray;
    opacity: 0.3;
}

.button.off {
    pointer-events: none;
}

@media (hover: hover) {
    .button.small:hover {
        background-color: rgb(209, 81, 26);
        color: rgb(255, 235, 204);
        cursor: pointer;
    }
    .button:hover {
        color: rgb(209, 81, 26);
        cursor: pointer;
    }

    .button:hover img {
        -webkit-filter: invert(32%) sepia(100%) saturate(966%) hue-rotate(350deg) brightness(98%) contrast(93%);
        filter: invert(32%) sepia(100%) saturate(966%) hue-rotate(350deg) brightness(98%) contrast(93%);
    }
}

.custom-container {
    position: relative;
    left: 15%;
    width: 70%;
}

@media screen and (max-width: 600px) {
    .custom-container {
        position: relative;
        left: 0%;
        width: 100%;
    }
}

.left {
    position: relative;
    left: 6%;
}
.right {
    position: relative;
    right: 6%;
}

img {
    width: calc(5vh);
    height: auto;
    -webkit-filter: invert(90%) sepia(14%) saturate(663%) hue-rotate(329deg) brightness(105%) contrast(101%);
    filter: invert(90%) sepia(14%) saturate(663%) hue-rotate(329deg) brightness(105%) contrast(101%);
}

img.mirror {
    -moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1);
}


@media screen and (max-width: 1140px) {
    .top-padding {
        position: relative;
        top: calc(7vh);
    }
    .prev-up {
        display: block;
    }
    .prev-down {
        display: none;
    }
    .next-up {
        display: block;
    }
    .next-down {
        display: none;
    }
}
@media screen and (min-width: 1141px) {
    .top-padding {
        position: relative;
        top: calc(3vh);
    }
    .prev-up {
        display: none;
    }
    .prev-down {
        display: inline;
    }
    .next-up {
        display: inline;
    }
    .next-down {
        display: none;
    }
}
.asd {
    line-height: 5px;
}