<div class="backdrop" (click)="onClose()"></div>
<div class="alert-box">
    <div class="middle-text close-x pb-3">
       <span (click)="onClose()">X</span>
    </div>
    <div class="content middle-text">
        <div class="font-weight-bold">Kezdő dátum:</div>
        <div class="pb-4 font-italic">
            {{ modal.fromDate.getFullYear()}}-{{modal.fromDate.getMonth()+1}}-{{modal.fromDate.getDate()}}
            {{ (modal.fromDate.getHours() < 10 ? '0' + modal.fromDate.getHours() + ':' : modal.fromDate.getHours() + ':') + (modal.fromDate.getMinutes() < 10 ? '0' + modal.fromDate.getMinutes() : modal.fromDate.getMinutes()) }}
        </div>
        <div class="font-weight-bold">Vég dátum:</div>
        <div class="pb-4 font-italic">
            {{ modal.toDate.getFullYear()}}-{{modal.toDate.getMonth()+1}}-{{modal.toDate.getDate()}}
            {{ (modal.toDate.getHours() < 10 ? '0' + modal.toDate.getHours() + ':' : modal.toDate.getHours() + ':') + (modal.toDate.getMinutes() < 10 ? '0' + modal.toDate.getMinutes() : modal.toDate.getMinutes()) }}
        </div>
        <div class="font-weight-bold">Cím:</div>
        <div class="pb-4 font-italic">{{modal.name}}</div>
        <div class="font-weight-bold">Leírás:</div>
        <div class="pb-4 font-italic">{{modal.description}}</div>
        <div *ngIf="modal.modalImgUrl !== ''" class="pb-4">
            <img [src]="modal.modalImgUrl" alt="">
        </div>
        <div
            class="padding-top-2 padding-bottom-2">
            <div
                (click)="onUpdate()"
                class="cbtn cbtn-one small">
                <span> Módosítás </span>
            </div>
        </div>
        <div
            class="padding-top-2 padding-bottom-2">
            <div
                (click)="onDelete()"
                class="cbtn cbtn-one small">
                <span> Törlés </span>
            </div>
        </div>
    </div>
</div>
