input.large-checkbox {
    width: 2.5vh;
    height: 2.5vh;
    margin-left: 2vh;
}
.line {
    background-color: rgba(51, 53, 52);
    border-radius: 10px;
    padding: 1vh;
    margin-bottom: 2vh;
}
.line.danger {
    border: calc(0.05vw + 0.3vh) solid red;
}
.line.future {
    border: calc(0.05vw + 0.3vh) solid yellow;
}.line.today {
    border: calc(0.05vw + 0.3vh) solid green;
}
label.label {
    width: 100%;
    z-index: 20;
}
@media (hover: hover) {
    label.label:hover .line{
        border: calc(0.05vw + 0.3vh) solid rgb(209, 81, 26);
    }
    .line:hover {
        border: calc(0.05vw + 0.3vh) solid rgb(209, 81, 26);
    }
}
.cbtn.mini2 {
    line-height: auto;
    height: 4vh;
    width: auto;
    font-size: 2.5vh;
    padding-left: 2vw;
    padding-right: 2vw;
}
.sticky {
    position: sticky;
    top: calc(3vh + 2vw + 2vh);
    background-color: rgb(32, 32, 32);
    z-index: 50;
}