.page-header {
    font-weight: 700;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.85);
    z-index: 50;
}

img {
  position: relative;
  border-radius: 25px;
}

@media (min-aspect-ratio: 321/481), (min-width: 800px) {
  img {
    left: 5%;
    width: 90%;
    height: auto;
    object-fit: cover;
  }
  .trench-toggle{
    position: absolute;
    left: 85%;
  }
  
  .competition-toggle{
    position: absolute;
    left: 55%;
  }
  
  .city-toggle{
    position: absolute;
    left: 25%;
  }
  
  .togglers-container {
    position: absolute;
    left: 10%;
    width: 80%;
    top: 60%;
  }
}
@media (max-aspect-ratio: 320/480) and (max-width: 800px), (max-aspect-ratio: 321/481) and (min-aspect-ratio: 320/480) {
  img {
    margin-top: 5vh;
    width: 100%;
    height: auto;
    object-fit: cover;
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg); /* IE 9 */
    transform: rotate(-90deg);
  }
  .togglers-container {
      position: absolute;
      left: 50%;
      width: 20%;
      top: 35%;
      height: 50%;
  }
  .trench-toggle{
    position: absolute;
    top: 0%;
  }  
  .competition-toggle{
    position: absolute;
    top: 50%;
  }  
  .city-toggle{
    position: absolute;
    top: 100%;
  }
}
#map-navigation div {
  top: calc(15vh);
  left: 15%;
  width: 70%;
  bottom: 10vh;
  position:fixed;
  overflow-y:hidden;
  overflow-x:hidden;
  overflow: auto;
  height: auto;
  z-index: 100;
  background: rgb(20, 20, 20);
  box-shadow: 2px 4px 4px rgba(146, 144, 144, 0.15);
  border-radius: 25px;
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#map-navigation div:nth-child(1) {
  transform: scale(0, 0) translateY(-100%) translateX(-100%);
}
#map-navigation div:nth-child(1).open {
  transform: scale(1, 1) translateY(0%) translateX(0%);
}

#map-navigation div:nth-child(2) {
  transform: scale(0, 0) translateY(-100%);
}
#map-navigation div:nth-child(2).open {
  transform: scale(1, 1) translateY(0%);
}

#map-navigation div:nth-child(3) {
  transform: scale(0, 0) translateY(-100%) translateX(100%);
}
#map-navigation div:nth-child(3).open {
  transform: scale(1, 1) translateY(0%) translateX(0%);
}
@keyframes circle {
  from {
    transform: scale(0);
    opacity: 1;
  }
  to {
    transform: scale(8);
    opacity: 0;
  }
}
  
.circle {
  width: calc(0.5vw + 0.8vh);
  height: calc(0.5vw + 0.8vh);
  border-radius: 50%;
  position: absolute;
  top: 0%;
  left: 0%;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.one {
  animation: circle 2.1s 1.4s infinite ease-in-out;
  background: forestgreen;
}

.two {
  animation: circle 2.1s .7s infinite ease-in-out;
  background: dodgerblue;
}

.three {
  animation: circle 2.1s 0s infinite ease-in-out;
  background: tomato;
}
@media screen and (max-width: 1100px) and (min-width: 801px) {
  .togglers-container {
    position: absolute;
    left: 10%;
    width: 80%;
    top: 67%;
  }
}

.header {
  position: fixed;
  top: calc(15vh);
  left: 5%;
  width: 90%;
  text-align: right;
  background-color: transparent;
  z-index: 500;
}
.x-button {
  padding-right: 10px;
  cursor: pointer;
}
@media (hover: hover) {
  .x-button:hover {
    color: rgb(209, 81, 26);
  }
}