<div class="component dark">
    <div class="middle-padding" style="position: relative;">
        <div class="text-center large-text page-header">Pályák</div>
        <div class="text-center middle-text padding-bottom-6">Böngéssz a pályáink között!</div>
        <img 
            [ngClass]="{'closed': open}"
            src="../../../assets/pictures/map-top.jpg" alt="">
        <div (click)="toggleOpen()" *ngIf="anyOpen()" class="backdrop"></div>
        <div id="map-navigation">
            <div
                *ngFor="let field of fields; let i = index"
                [ngClass]="{'open': open[i]}">
                    <app-field-details [field]="field" (close)="toggleOpen(i)"></app-field-details>
            </div>
        </div>
        <div class="togglers-container">
            <div 
                class="trench-toggle"
                (click)="toggleOpen(2)">
                <div class="circle one"></div>
                <div class="circle two"></div>
                <div class="circle three"></div>
            </div>
            <div 
                class="competition-toggle"
                (click)="toggleOpen(1)">
                <div class="circle one"></div>
                <div class="circle two"></div>
                <div class="circle three"></div>
            </div>
            <div 
                class="city-toggle"
                (click)="toggleOpen(0)">
                <div class="circle one"></div>
                <div class="circle two"></div>
                <div class="circle three"></div>
            </div>
        </div>
    </div>
</div>