<div class="middle-top-text padding-top-10 padding-bottom-6 text-center">Összes üzenet</div>
<div 
    *ngIf="checkedNum > 0"
    class="row py-3 sticky justify-content-center">
    <div class="col-md-4 col-6 text-left">
        <div 
            (click)="checkAll()"
            class="cbtn cbtn-one mini2">
            <span>Összes {{allValue ? 'ki' : 'be'}}</span>
        </div>
    </div>
    <div class="col-md-4 col-6 text-center middle-text">Kijelölve: {{checkedNum}}</div>
    <div class="col-md-4 col-6 text-center">
        <div 
            (click)="onDelete()"
            class="cbtn cbtn-one mini2">
            <span>Törlés</span>
        </div>
    </div>
</div>
<div class="medium-padding">
    <form #f="ngForm">
        <div
            class="middle-text"
            *ngFor="let message of messages">
            <label [for]="message._id" class="label">
                <div class="row line">
                    <div class="col-2">
                        <input type="checkbox" ngModel [name]="message._id" [id]="message._id" class="large-checkbox">
                    </div>
                    <div class="col-10">
                        <app-message-detail [message]="message"></app-message-detail>
                    </div>
                </div>
            </label>
        </div>
    </form>
</div>