<div class="component dark">
    <div class="medium-padding">
        <div class="middle-top-text lulo-full text-center padding-bottom-6">
            Belépés
        </div>
        <div class="text-center card container-custom">
            <form (ngSubmit)="onSubmit()" #f="ngForm">
                <div class="group">
                    <input
                        type="email" name="email"
                        required
                        email
                        ngModel #emailInput="ngModel"
                        class="middle-text"
                        [ngClass]="{notempty: emailInput.value != ''}"
                        >
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label class="middle-text">Email</label>
                    <span
                        *ngIf="emailInput.invalid && emailInput.touched"
                        class="help-block small-text">
                        Email cím megadása kötelező!
                    </span>
                </div>
                <div class="group">
                    <input
                        type="password" name="password"
                        required
                        ngModel #passwordInput="ngModel"
                        class="middle-text">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label class="middle-text">Jelszó</label>
                    <span
                        *ngIf="passwordInput.invalid && passwordInput.touched"
                        class="help-block small-text">
                        Jelszó megadása kötelező!
                    </span>
                </div>                
                <div *ngIf="f.valid" class="text-center pb-5">
                    <button type="submit" class="btn btn-primary">Belépés</button>
                    <!-- <div
                        onClick="javascript:this.form.submit();"
                        
                        (click)="onSubmit()"
                        class="cbtn cbtn-one small">
                        <span>Belépés</span>
                    </div> -->
                </div>
            </form>
  
        </div>
    </div>
</div>