<div class="backdrop" (click)="onClose()"></div>
<div class="alert-box">
    <div class="middle-text close-x pb-3">
       <span (click)="onClose()">X</span>
    </div>
    <div class="content middle-text">
        <div class="font-weight-bold">Feladó:</div>
        <div class="pb-4 font-italic">{{message.name}}</div>
        <div class="font-weight-bold">Emailcím:</div>
        <div class="pb-4 font-italic">{{message.email}}</div>
        <div class="font-weight-bold">Dátum:</div>
        <div class="pb-4 font-italic">
            {{ message.timestamp.toISOString().slice(0,10) }}
            {{ (message.timestamp.getHours() < 10 ? '0' + message.timestamp.getHours() + ':' : message.timestamp.getHours() + ':') + (message.timestamp.getMinutes() < 10 ? '0' + message.timestamp.getMinutes() : message.timestamp.getMinutes()) }}
        </div>
        <div class="font-weight-bold">Üzenet:</div>
        <div class="pb-4">{{message.text}}</div>
        <div *ngIf="message.replied !== ''">
            <div class="font-weight-bold">Válasz:</div>
            <div class="pb-4 font-italic">{{message.reply}}</div>
            <div class="small-text font-italic">Válaszolt:</div>
            <div class="pb-4 small-text font-italic">{{message.replied}}</div>
        </div>
        <hr class="orange">
        <div class="pt-5">
            <div class="font-weight-bold pb-5"> {{message.replied === '' ? 'Válasz:' : 'Új válasz írása'}} </div>
            <form #f="ngForm">
                <div class="text-center">Kedves {{message.name}}!</div>
                <div class="text-center">Köszönjük, hogy írtál nekünk!</div>
                <textarea
                    name="replyBody" id="replyBody" cols="30" rows="6"
                    class="form-control middle-text"
                    ngModel required></textarea>
                    <div class="text-center">Üdv.: Gyenespaintball csapata</div>
                <div
                    *ngIf="f.valid"
                    class="padding-top-2 padding-bottom-2">
                    <div
                        (click)="onReply()"
                        class="cbtn cbtn-one small">
                        <span> Küldés </span>
                    </div>
                </div>
            </form>
            <hr class="orange">
            <div
                class="padding-top-4 padding-bottom-2">
                <div
                    (click)="onDelete()"
                    class="cbtn cbtn-one small">
                    <span> Törlés </span>
                </div>
            </div>
        </div>
    </div>
</div>