<div class="medium-padding text-center">
    <div class="middle-top-text"> {{id ? 'Zárt dátum módosítás': 'Új zárt dátum'}}</div>
    <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div class="container-custom middle-text">
            <div class="form-group">
                <label for="reason">Indok</label>
                <input
                    type="text" name="reason" id="reason" #reason="ngModel"
                    ngModel class="form-control" required>
                <span *ngIf="reason.invalid && reason.touched" class="help-block">
                    Indok megadása kötelező!
                </span>
            </div>
            <div class="form-group">
                <label for="reason">Kezdő dátum</label>
                <input
                    type="date" name="fromDate" id="fromDate" #fromDate="ngModel"
                    ngModel class="form-control" required>
                <span *ngIf="fromDate.invalid && fromDate.touched" class="help-block">
                    Kezdő dátum megadása kötelező!
                </span>
            </div>
            <div class="form-group">
                <label for="reason">Vég dátum</label>
                <input
                    type="date" name="toDate" id="toDate" #toDate="ngModel"
                    ngModel class="form-control" required>
                <span *ngIf="toDate.invalid && toDate.touched" class="help-block">
                    Vég dátum megadása kötelező!
                </span>
            </div>
            <div class="help-block small-text" *ngIf="fromBiggerError">
                A kezdődátum nagyobb vagy egyenlő, mint a végdátum!
            </div>
            <div *ngIf="intersectingDates.length > 0" class="help-block small-text">
                Az intervallum ütközik másik zárt dátumokkal:
                <div *ngFor="let noDate of intersectingDates">
                    {{ noDate.fromDate.toISOString().slice(0,10) }}
                    {{ (noDate.fromDate.getHours() < 10 ? '0' + noDate.fromDate.getHours() + ':' : noDate.fromDate.getHours() + ':') + (noDate.fromDate.getMinutes() < 10 ? '0' + noDate.fromDate.getMinutes() : noDate.fromDate.getMinutes()) }}            
                    - 
                    {{ noDate.toDate.toISOString().slice(0,10) }}
                    {{ (noDate.toDate.getHours() < 10 ? '0' + noDate.toDate.getHours() + ':' : noDate.toDate.getHours() + ':') + (noDate.toDate.getMinutes() < 10 ? '0' + noDate.toDate.getMinutes() : noDate.toDate.getMinutes()) }}            
                </div>
            </div>
            <div *ngIf="intersectingRes.length > 0" class="help-block warning small-text">
                Az intervallum alatt {{intersectingRes.length}} db meglévő foglalás van:
                <div *ngFor="let reservation of intersectingRes">
                    {{ reservation.date.toISOString().slice(0,10) }}
                    {{ (reservation.date.getHours() < 10 ? '0' + reservation.date.getHours() + ':' : reservation.date.getHours() + ':') + (reservation.date.getMinutes() < 10 ? '0' + reservation.date.getMinutes() : reservation.date.getMinutes()) }}
                </div>
            </div>
            <div *ngIf="f.valid && dateValid" class="pt-5">
                <div (click)="onSubmit()" class="cbtn cbtn-one small">
                    <span>Mentés</span>
                </div>
            </div>
        </div>
    </form>
</div>