<div class="content">
    <img src="../../../assets/pictures/trenches-map.png" alt="">
    <div class="medium-padding">
        <div class="middle-top-text text-center pb-2 pt-5 font-weight-bold">Árkos pálya</div>
        <hr class="orange pb-5">
        <div class="middle-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi culpa illum maxime ipsum cum, ex temporibus! Fugit id blanditiis nam numquam eveniet architecto nulla corporis natus ipsa voluptatem? Commodi, blanditiis!</div>
        <hr class="orange small">
        <div class="middle-top-text pb-5 pt-3">Elemek</div>
        
    </div>
</div>