<div class="medium-padding">
    <div 
        class="padding-bottom-10"
        *ngIf="messages.length > 0">
        <div class="middle-top-text text-center padding-bottom-6">
            Válaszolatlan üzenetek
        </div>
        <div class="middle-text">
            <div *ngFor="let message of messages">
                <div class="line danger">
                    <app-message-detail [message]="message"></app-message-detail>
                </div>
            </div>
        </div>
        <hr class="orange">
    </div>
</div>