<div class="middle-top-text text-center padding-button-4"> {{packageType.name}} típus </div>
<div class="padding-button-4 text-center">
    <button [disabled]="packageType.packages.length > 0" (click)="onDelete()" class="mr-3">Törlés</button>
    <button [routerLink]="['/operators/packages', packageType.id,'new-package']" class="ml-3">Új csomag</button>
</div>
<div class="row small-text">
    <div class="col-12 col-md-6 text-center">Összesen: {{packageType.packages.length}} db</div>
    <div class="col-12 col-md-6 text-center">Aktív: {{activePackages()}} db</div>
</div>
<div
    *ngFor="let package of packageType.packages"
    class="line" [ngClass]="{'danger': package.disabled}">
    <app-operator-package-detail [package]="package"></app-operator-package-detail>
</div>