<div class="component dark">
    <app-page-header
        [src]="'fust.jpg'"
        [title]="'Kapcsolat'">
    </app-page-header>
    <div class="medium-padding">
        <div class="row">
            <div class="col-md-6 col-12 middle-text">
                <div class="pb-3 middle-top-text font-weight-bold">
                    Ha bármilyen kérdésed van...
                </div>
                <div class="pb-3 font-weight-bold"> Telefonszám</div>
                <div class="pb-2 pl-5">
                    <span itemprop="telephone"><a href="tel:+36208028647">+36208028647</a></span>
                </div>
                <div class="pb-3 pl-5">
                    <span itemprop="telephone"><a href="tel:+36306083283">+36306083283</a></span>
                </div>
                <div class="pb-3 font-weight-bold">Email cím</div>
                <div class="orange pl-md-5 pb-5">
                    <a href="mailto:gyenespaintball@gmail.com">
                        gyenespaintball@gmail.com
                    </a>
                </div>
            </div>
            <div #scrollTo
            class="col-md-6 col-12 pb-5">
                <iframe
                    class="googlemaps"
                    src="https://maps.google.com/maps?q=46.768861,17.273519&hl=es;z=14&amp;output=embed" allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
</div>
