<div class="cookie-body">
    <div class="middle-text text-center padding-bottom-6 padding-top-4">Cookie</div>
    <div class="small-text text-center padding-bottom-4">Fogadd el a kukikat....</div>
    <div class="row justify-content-center pb-5">
        <div class="col-md-3 col-5 text-center">
            <button (click)="decline()" class="btn btn-danger">Elutasítom</button>
        </div>
        <div class="col-md-3 col-5 text-center">
            <button (click)="accept()" class="btn btn-success">Elfogadom</button>
        </div>
    </div>
</div>