<ng-template appPlaceholder></ng-template>
<div 
    class="row middle-text text-center justify-content-center">
    <div class="col-xl-5 col-md-6 col-12">
        {{ noDate.fromDate.getFullYear()}}-{{noDate.fromDate.getMonth()+1}}-{{noDate.fromDate.getDate()}}
        {{ (noDate.fromDate.getHours() < 10 ? '0' + noDate.fromDate.getHours() + ':' : noDate.fromDate.getHours() + ':') + (noDate.fromDate.getMinutes() < 10 ? '0' + noDate.fromDate.getMinutes() : noDate.fromDate.getMinutes()) }}
    </div>
    <div class="col-xl-5 col-md-6 col-12">
        {{ noDate.toDate.getFullYear()}}-{{noDate.toDate.getMonth()+1}}-{{noDate.toDate.getDate()}}
        {{ (noDate.toDate.getHours() < 10 ? '0' + noDate.toDate.getHours() + ':' : noDate.toDate.getHours() + ':') + (noDate.toDate.getMinutes() < 10 ? '0' + noDate.toDate.getMinutes() : noDate.toDate.getMinutes()) }}
    </div>
    <div class="col-xl-2 col-12">
        <div 
            (click)="onOpen($event)"
            class="cbtn cbtn-one mini2" style="z-index: 40;">
            <span>Részletek</span>
        </div>
    </div>
</div>