.card1 {
    background-color: #333534;
    border-radius: 25px;
}
@media screen and (min-width: 721px) {
  .container-custom {
      position: relative;
      width: 60%;
      left: 20%;
  }
}
@media screen and (max-width: 720px) {
  .container-custom {
      position: relative;
      width: 100%;
      left: 0%;
  }
}  