<div
    class="error"
    *ngIf="errorMessage !== ''">
    <div class="row">
        <div class="col-9 middle-text" style="color: rgb(255, 235, 204);">
            {{errorMessage}}
        </div>
        <div class="col-3 text-center">
            <button class="btn btn-danger" (click)="hideError()">
            OK
        </button>
        </div>
    </div>
</div>
<ng-template appPlaceholder></ng-template>
<div *ngIf="!authHeader; else authHeaderBlock">
    <app-header></app-header>
</div>
<ng-template #authHeaderBlock>
    <app-operator-header></app-operator-header>
</ng-template>
<div style="width: 100%;">
    <div *ngIf="isLoading">
        <app-loading-spinner></app-loading-spinner>
    </div>
    <div *ngIf="!isLoading">
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </div>
</div>
<div *ngIf="cookies">
    <app-cookie></app-cookie>
</div>
<div class="fb-customerchat"
     page_id="<PAGE_ID>">
</div>
