.hr {
    position: relative;
    background-color: rgba(211, 83, 26, 0.5);
    width: 80%;
    height: 1px;
    left: 10%
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
    z-index: 50;
}

.alert-box {
    position: static;
    top: 30vh;
    left: 20vw;
    padding: 16px;
    z-index: 100;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.alert-box-actions {
    text-align: right;
}
.underline {
    border-bottom: calc(0.025vw + 0.1vh) solid rgb(209, 81, 26);
}
