<div
    class="top-zero"
    [ngClass]="{'small': small, 'open': navigationOpen}">
</div>
    <div 
        class="logo"
        [ngClass]="{'small': small}">
        <img
            [src]="'../../../assets/pictures/paintball-logo.png'"
            [ngClass]="{'small': small}"
            alt="">
</div>
    <div
        id="nav-icon4"
        [ngClass]="{'small': small, 'open': navigationOpen}"
        (click)="navigatonClicked()">
        <span></span>
        <span></span>
        <span></span>
    </div>

<button class="btn" (click)="toggleSmallClicked()"
style="position: absolute; top: 40vh;">toggle Small</button>