<div
    class="phone-reservation"
    [ngClass]="{'open': small}">
    <span
        [routerLink]="['/booking']"
        class="reservation small-text">Online foglalás</span>
    <span class="divider"></span>
    <span #dropToggle (click)="toggleDropDown()" class="tel small-text">
        <img src="../../../assets/icons/call.png" alt="">
    </span>
    <div 
        [ngClass]="{'open': dropDownOpen}"
        class="dropup-content">
        <a class="mini-text" href="tel:+36208028647">+36208028647</a>
        <a class="mini-text" href="tel:+36306083283">+36306083283</a>
    </div>
</div>
<div
    class="top-zero smallable"
    [ngClass]="{'small': small, 'open': navigationOpen}">
</div>
<div 
    class="logo smallable"
    [ngClass]="{'small': small, 'open': navigationOpen}"
    [routerLink]="['/']"
    (click)="linkClicked()">
    <img
        src="../../../assets/pictures/paintball-logo.png"
        class="smallable"
        [ngClass]="{'small': small}"
        alt="">
</div>
<div
    id="nav-icon4"
    class="smallable"
    [ngClass]="{'small': small, 'open': navigationOpen}"
    (click)="navigatonClicked()">
    <span></span>
    <span></span>
    <span></span>
</div>
<app-navigation
    [open]="navigationOpen"
    (linkClick)="linkClicked()">
</app-navigation>