.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(1, 0, 0, 0.9);
    z-index: 80;
    clip-path: circle(100px);
}

.nav-anim {
    position: fixed;
    background: rgba(1, 0, 0, 0.8);
    height: 100%;
    width: 100%;
    z-index: 80;
    clip-path: ellipse(0vw 0vh at 50% -20%);
    -webkit-clip-path: ellipse(0vw 0vh at 50% -20%);
    transition: all 1s ease-out;
}

.nav-anim.open {
    clip-path: ellipse(150vw 150vh at 50% -20%);
    -webkit-clip-path: ellipse(150vw 150vh at 50% -20%);
}

.nav-box {
    position: fixed;
    top: calc(8vh + 10vw);
    left: 10vw;
    right: 10vw;
    z-index: 90;
}

.padding {
    padding-bottom: calc(0.5vw + 0.3vh);
}

.nav-box-lines {
    text-align: left;
}
.nav-box-lines div a {
    color: whitesmoke;
    text-decoration: none;
    font-size: calc(1vw + 2.5vh);
}

.nav-box-lines div a:hover {
    color: #d3531a;
    text-decoration: none;
}

.nav-box-column {
    text-align: center;
}

.hr {
    background-color: #d3531a;
    width: 100%;
    height: 2px;
}

.game-mode {
    padding-left: 2vw;
}

@media screen and (max-height: 470px) and (max-width: 768px) {
    .game-mode {
        display: none;
    }
}

svg {
    width: calc(3vh + 1vw);
    height: calc(3vh + 1vw);
    fill: currentColor;
    vertical-align: top;
}
