<div
    class="nav-anim"
    [ngClass]="{'open': open}">
    <div class="container-custom nav-box ">
        <div class="row">
            <div class="col-md-4 col-12 text-center text-md-left">
                <div class="nav-box-lines">
                    <div class="padding">
                        <a
                            [routerLink]="['/home']"
                            (click)="onLinkClick()">
                            Kezdőlap
                        </a>
                    </div>
                    <div class="padding">
                        <a
                            [routerLink]="['/map']"
                            (click)="onLinkClick()">
                            Pályáink
                        </a>
                    </div>
                    <div class="padding">
                        <a
                            [routerLink]="['/prices']"
                            (click)="onLinkClick()">
                            Áraink
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12 text-center text-md-center">
                <div class="nav-box-lines">
                    <div class="padding">
                        <a
                            [routerLink]="['/game-modes']"
                            (click)="onLinkClick()">
                            Játékmódok
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12 text-center text-md-right">
                <div class="nav-box-lines">
                    <div class="padding">
                        <a
                            [routerLink]="['/booking']"
                            (click)="onLinkClick()">
                         Online foglalás
                        </a>
                    </div>
                    <div class="padding">
                        <a
                            [routerLink]="['/contact']"
                            (click)="onLinkClick()">
                         Kapcsolat
                        </a>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>
