<div class="component dark">
  <img src="assets/pictures/construction.jpg" class="landing" alt="">
  <div class="construction text-center middle-text">
    <div class="middle-top-text"> Az oldal felújítás alatt</div>
    <div class="hr mb-4"></div>
    <div>Információkért keressetek telefonon vagy emailben!</div>
    <div>
      <a class="orange" href="mailto:gyenespaintball@gmail.com">gyenespaintball@gmail.com</a>
    </div>
    <div>
      <div>
        <a class="orange" href="tel:+36208028647">+36208028647</a>
      </div>
      <div>
        <a class="orange" href="tel:+36306083283">+36306083283</a>
      </div>
    </div>
  </div>
</div>
