.button-sticky {
    position: sticky;
    top: calc(5vh + 1.9vw + 4.85vh);
    width: 100%;
    background-color: rgb(32, 32, 32);
    z-index: 50;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}
.cbtn.mini {
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    line-height: 0vh;
}