<div class="backdrop" (click)="onClose()"></div>
<div class="alert-box">
    <div class="middle-text close-x pb-3">
        <span (click)="onClose()" >X</span>
     </div>
    <img [src]="field.imgPath" alt="">
    <div class="medium-padding">
        <div class="middle-top-text text-center pb-2 pt-5 font-weight-bold">{{field.name}}</div>
        <hr class="orange pb-5">
        <div class="middle-text"> {{field.description}} </div>
        <hr *ngIf="field.optDescription !== ''" class="orange small">
        <div 
        *ngIf="field.optDescription !== ''"
        class="middle-text pb-5"> {{field.optDescription}} </div>
        <mat-accordion>
            <mat-expansion-panel
                [expanded]="false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <div class="middle-text font-weight-bold">
                            Elemek
                        </div>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="row">
                    <div
                        *ngFor="let equipment of field.equipments"
                        class="col-xl-4 col-sm-6 col-12 pb-5">
                        <app-description-card [equipment]="equipment"></app-description-card>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
        <div class="pt-5">
            <app-slider
                [root]="field.imgRoot"
                [number]="field.imgNumber"
                [mode]="1"></app-slider>
        </div>
    </div>
</div>