<div class="content">
    <div class="text-right middle-text x-button">X</div>
    <img [src]="field.imgPath" alt="">
    <div class="medium-padding">
        <div class="middle-top-text text-center pb-2 pt-5 font-weight-bold">{{field.name}}</div>
        <hr class="orange pb-5">
        <div class="middle-text"> {{field.description}} </div>
        <hr class="orange small">
        <div class="middle-top-text pb-5 pt-3">Elemek</div>
        <div class="row">
            <div
                *ngFor="let equipment of field.equipments"
                class="col-xl-4 col-sm-6 col-12 pb-5">
                <app-description-card [equipment]="equipment"></app-description-card>
            </div>
        </div>
        <div 
            *ngIf="field.optDescription !== ''"
            class="middle-text pb-5"> {{field.optDescription}} </div>     
            <!-- lehet small-text is ki kell majd próbálni hogy egyáltalán kell e -->
        <app-slider 
        [root]="field.imgRoot"
        [number]="field.imgNumber"
        [mode]="1"></app-slider>
    </div>
</div>