img {
    position: relative;
    /* left: 5%; */
    width: 100%;
    object-fit: cover;
    height: auto;
    border-radius: 25px;
}

.content {
    background-color: rgb(20, 20, 20);
    border-radius: 25px;
    z-index: 300;
    padding: 16px;
}

.close-x {
    position: relative;
    right: 0px;
    width: 100%;
    text-align: right;
}
.close-x span {
    cursor: pointer;
}

@media (hover: hover) {
    .close-x span:hover {
        color: rgb(209, 81, 26);
    }
}