<div class="light-background">
    <div class="big-padding">
        <div class="padding-bottom-6 large-text text-center">Amit nyújtunk (TITLE)</div>
        <div class="padding-bottom-4 row">
            <div class="col-md-4 col-12 text-center">
                <img src="https://img77.uenicdn.com/image/upload/v1544069388/service_images/shutterstock_741549076.jpg" alt="">
                <h2 class="padding-top-2 padding-bottom-4">Title 1</h2>
            </div>
            <div class="col-md-4 col-12 text-center">
                <img src="https://img77.uenicdn.com/image/upload/v1544069388/service_images/shutterstock_741549076.jpg" alt="">
                <h2 class="padding-top-2 padding-bottom-4">Title 2</h2>
            </div>
            <div class="col-md-4 col-12 text-center" id="trigger2">
                <img src="https://img77.uenicdn.com/image/upload/v1544069388/service_images/shutterstock_741549076.jpg" alt="">
                <h2 class="padding-top-2 padding-bottom-4">Title 3</h2>
            </div>
        </div>
        <hr class="orange center padding-bottom-4">
        <div class="padding-bottom-4 text-center middle-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio eius quaerat, reiciendis sequi maiores pariatur dolorum mollitia fuga vero et ipsa impedit repellendus suscipit iste minima cum? Neque, a natus!</div>
        <div class="text-center">
            <div
                class="cbtn cbtn-one dark big"
                [routerLink]="['/booking']">
                <span>Foglalj most</span>
            </div>
        </div>
    </div>
</div>