<div class="light-background">
    <div class="big-padding">
        <div class="padding-bottom-6 large-text text-center">Program minden alkalomra</div>
        <div class="padding-bottom-4 row">
            <div class="col-md-4 col-12 text-center">
                <img src="https://img77.uenicdn.com/image/upload/v1544069388/service_images/shutterstock_741549076.jpg" alt="">
                <h2 class="padding-top-2 padding-bottom-4">Szülinapi buli</h2>
            </div>
            <div class="col-md-4 col-12 text-center">
                <img src="https://img77.uenicdn.com/image/upload/v1544069388/service_images/shutterstock_741549076.jpg" alt="">
                <h2 class="padding-top-2 padding-bottom-4">Legénybúcsú</h2>
            </div>
            <div class="col-md-4 col-12 text-center" id="trigger2">
                <img src="https://img77.uenicdn.com/image/upload/v1544069388/service_images/shutterstock_741549076.jpg" alt="">
                <h2 class="padding-top-2 padding-bottom-4">Csapatépítés</h2>
            </div>
        </div>
        <hr class="orange center padding-bottom-4">
        <div class="padding-bottom-6 large-text text-center">Program minden alkalomra</div>
        <div class="padding-bottom-4 row">
            <div class="col-md-4 col-12 text-center">
                <img src="https://img77.uenicdn.com/image/upload/v1544069388/service_images/shutterstock_741549076.jpg" alt="">
                <div class="padding-top-2 padding-bottom-2 middle-text">Változatos pályák</div>
                <div class="padding-bottom-4 middle-text text-center">A 3 különböző pályánkon kipróbálhatjátok magatokat gyors és intenzív, vagy akár lassú és taktikusabb környzetben.</div>
            </div>
            <div class="col-md-4 col-12 text-center">
                <img src="https://img77.uenicdn.com/image/upload/v1544069388/service_images/shutterstock_741549076.jpg" alt="">
                <div class="padding-top-2 padding-bottom-2">Minőségi felszerelés</div>
                <div class="padding-bottom-4 middle-text text-center">Jó minőségű, gyakran karbantartott felszerelést biztosítunk játékosainknak.</div>
            </div>
            <div class="col-md-4 col-12 text-center" id="trigger2">
                <img src="https://img77.uenicdn.com/image/upload/v1544069388/service_images/shutterstock_741549076.jpg" alt="">
                <div class="padding-top-2 padding-bottom-2">Sokszínű játékmódok</div>
                <div class="padding-bottom-4 middle-text text-center">Nálunk mindegyik pályán több játékmód közül válogathattok, így különböző célokért is megmérkőzhettek.</div>
            </div>
        </div>
        <!-- <hr class="orange center padding-bottom-4">
        <div class="padding-bottom-4 text-center middle-text">Kényelmesen foglalhatsz otthonodból online felületünkön keresztül.</div>
        <div class="text-center">
            <div
                class="cbtn cbtn-one dark big"
                [routerLink]="['/booking']">
                <span>Foglalj most</span>
            </div>
        </div> -->
    </div>
</div>