<div class="light-background">
    <div class="big-padding">
        <div class="padding-bottom-6 large-text text-center">Program minden alkalomra</div>
        <div class="padding-bottom-4 row middle-text">
            <div class="col-md-4 col-12 text-center">
                <img src="../../../../assets/pictures/our-services/birthday.png" alt="">
                <div class="padding-top-2 padding-bottom-4 font-weight-bold">Szülinapi buli</div>
            </div>
            <div class="col-md-4 col-12 text-center">
                <img src="../../../../assets/pictures/our-services/husband.png" alt="">
                <div class="padding-top-2 padding-bottom-4 font-weight-bold">Legénybúcsú</div>
            </div>
            <div class="col-md-4 col-12 text-center" id="trigger2">
                <img src="../../../../assets/pictures/our-services/business.png" alt="">
                <div class="padding-top-2 padding-bottom-4 font-weight-bold">Csapatépítés</div>
            </div>
        </div>
        <hr class="orange center padding-bottom-4">
        <div class="padding-bottom-6 large-text text-center">Amit nyújtunk</div>
        <div class="padding-bottom-4 row middle-text">
            <div class="col-md-4 col-12 text-center padding-bottom-2">
                <div class="padding-bottom-2 middle-text font-weight-bold">Változatos pályák</div>
		<div>
                	<img class="services" src="../../../../assets/pictures/maps/maps-small.jpg" alt="">
		</div>
                <div class="big-display padding-bottom-4 middle-text text-center font-italic">A 3 különböző pályánkon kipróbálhatjátok magatokat gyors és intenzív, vagy akár lassú és taktikusabb környzetben.</div>
                <div 
                    [routerLink]="['/map']"
                    class="cbtn cbtn-one small dark small-display">
                    <span>Pályáink</span>
                </div>
            </div>
            <div class="col-md-4 col-12 text-center padding-bottom-2">
                <div class="padding-bottom-2 font-weight-bold">Minőségi felszerelés</div>
		<div>
                	<img class="services" src="../../../../assets/pictures/home/fegyverek.jpg" alt="">
		</div>                
		<div class="big-display padding-top-2 padding-bottom-4 middle-text text-center font-italic">Kiváló minőségű, rendszeresen karbantartott felszerelést biztosítunk játékosainknak.</div>
                <div 
                    [routerLink]="['/prices']"
                    fragment="equipments"
                    class="cbtn cbtn-one small dark small-display">
                    <span>Felszerelés</span>
                </div>
            </div>
            <div class="col-md-4 col-12 text-center padding-bottom-2" id="trigger2">
                <div class="padding-bottom-2 font-weight-bold">Sokszínű játékmódok</div>
		<div>
                	<img class="services" src="../../../../assets/pictures/home/valtozatos.jpg" alt="">
		</div>
                <div class="big-display padding-top-2 padding-bottom-4 middle-text text-center font-italic">Mindegyik pályán több játékmód közül választhattok, így tesszük sokoldalúvá a játszmát.</div>
                <div 
                    [routerLink]="['/game-modes']"
                    class="cbtn cbtn-one small dark small-display">
                    <span>Játékmódok</span>
                </div>
            </div>
        </div>
        <div class="row big-display">
            <div class="col-md-4 text-center">
                <div 
                    [routerLink]="['/map']"
                    class="cbtn cbtn-one small dark">
                    <span>Pályák</span>
                </div>
            </div><div class="col-md-4 text-center">
                <div 
                    [routerLink]="['/prices']"
                    fragment="equipments"
                    class="cbtn cbtn-one small dark">
                    <span>Felszerelés</span>
                </div>
            </div><div class="col-md-4 text-center">
                <div 
                    [routerLink]="['/game-modes']"
                    class="cbtn cbtn-one small dark">
                    <span>Játékmódok</span>
                </div>
            </div>
        </div>
    </div>
</div>
