img{
    width: 35%;
    height: auto;
}

@media screen and (max-width: 720px) {
    .big-display {
        display: none;
    }
}
@media screen and (min-width: 721px) {
    .small-display {
        display: none;
    }
}
img.services {
    width: 70%;
    border-radius: 25px;
}