<div *ngIf="open" (click)="toggleOpen($event)" class="backdrop"></div>
<nav>
    <img [routerLink]="['/home']" class="home" src="../../../assets/pictures/paintball-logo.png" alt="">
    <!-- <img 
        (click)="logout()"
        [ngClass]="{'open': open}" src="../../../assets/icons/logout.png" class="logout small" alt=""> -->
    <div 
        (click)="toggleOpen($event)"
        class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <ul 
        [ngClass]="{'open': open}"
        class="nav-links small-text">
        <li><a
            (click)="closeNav($event)"
            routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
            [routerLink]="['/operators/']">
            Foglalások <span *ngIf="newResNumber > 0" class="small-text badge">({{newResNumber}})</span>
        </a></li>
        <li><a routerLinkActive="active" (click)="closeNav($event)" [routerLink]="['/operators/messages']">
            Üzenetek <span *ngIf="messageNum > 0" class="small-text badge">({{messageNum}})</span>
        </a></li>
        <li><a routerLinkActive="active" (click)="closeNav($event)" [routerLink]="['/operators/packages']">Csomagok</a></li>
        <li><a routerLinkActive="active" (click)="closeNav($event)" [routerLink]="['operators/users']">Operátorok</a></li>
        <li><a routerLinkActive="active" (click)="closeNav($event)" [routerLink]="['operators/no-dates']">Zárt dátumok</a></li>
        <li><a routerLinkActive="active" (click)="closeNav($event)" [routerLink]="['operators/pop-ups']">Pop-ups</a></li>
        <li><img [ngClass]="{'open': open}" (click)="logout()" src="../../../assets/icons/logout.png" class="logout" alt=""></li>
    </ul>
</nav>