<div class="middle-top-text text-center"> Adatok megadása </div>
<div class="padding-top-4">
<div class="container card">
    <form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">       
            <div class="group">
                <input
                    type="text"
                    class="middle-text"
                    formControlName="name"
                    required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label class="middle-text">Teljes név</label>
            </div>           
            <span
                *ngIf="reservationForm.get('name').invalid &&
                    reservationForm.get('name').touched"
                class="help-block small-text">
                Név megadása kötelező!
            </span>

            <div class="group">
                <input
                    type="email"
                    class="middle-text"
                    formControlName="email"
                    required
                    [ngClass]="{notempty: !notEmpty('email')}">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label class="middle-text">Email cím</label>
            </div>
            <span
                *ngIf="(reservationForm.get('email').invalid && reservationForm.get('email').touched)"
                class="help-block small-text">
                Helyes email cím megadása kötelező!
            </span>        

            <div class="group">
                <input
                    id="numberinput"
                    type="tel"
                    class="middle-text"
                    formControlName="phoneNumber"
                    [ngClass]="{notempty: !notEmpty('phoneNumber')}"
                    required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label class="middle-text">Telefonszám</label>
            </div>
            <span
                *ngIf="reservationForm.get('phoneNumber').invalid &&
                    reservationForm.get('phoneNumber').touched"
                class="help-block small-text">
                Telefonszám megadása kötelező!
            </span>

            <div class="group">
                <input
                    type="number"
                    class="middle-text"
                    [min]="minPlayerNumber"
                    [max]="maxPlayerNumber"
                    value=""
                    formControlName="playernumber"
                    [ngClass]="{notempty: !notEmpty('playernumber')}"
                    required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label class="middle-text">Játékosok száma</label>
            </div>
            <span
                *ngIf="reservationForm.get('playernumber').invalid &&
                    reservationForm.get('playernumber').touched"
                class="help-block small-text">
                {{playerNumError}}!
            </span>

            <div class="group">
                <textarea
                    class="middle-text"
                    type="textarea"rows="2" required="false"
                    formControlName="notes"
                ></textarea>
                <span class="highlight"></span><span class="bar"></span>
                <label class="middle-text">Megjegyzések</label>
            </div>
    </form>
</div>
</div>