<div class="middle-top-text padding-top-10 padding-bottom-6 text-center"> Popup-ok </div>
<div 
    *ngIf="checkedNum > 0"
    class="row py-3 sticky justify-content-center">
    <div class="col-md-4 col-6 text-left">
        <div 
            (click)="checkAll()"
            class="cbtn cbtn-one mini2">
            <span>Összes {{allValue ? 'ki' : 'be'}}</span>
        </div>
    </div>
    <div class="col-md-4 col-6 text-center middle-text">Kijelölve: {{checkedNum}}</div>
    <div class="col-md-4 col-6 text-center">
        <div 
            (click)="onDelete()"
            class="cbtn cbtn-one mini2">
            <span>Törlés</span>
        </div>
    </div>
</div>
<form #f="ngForm">
    <div *ngIf="todayModal">
        <div class="middle-top-text padding-top-10 padding-bottom-6 text-center">Jelenlegi</div>
        <label [for]="todayModal._id" class="label">
            <div 
                class="row line today">
                <div class="col-2">
                    <input type="checkbox" ngModel [name]="todayModal._id" [id]="todayModal._id" class="large-checkbox">
                </div>
                <div class="col-10">
                    <app-modal-detail [modal]="todayModal"></app-modal-detail>
                </div>
            </div>
        </label>
    </div>
    <div *ngIf="futureModals.length > 0">
        <div class="middle-top-text padding-top-10 padding-bottom-6 text-center">Jövőbeli</div>
        <div
            class="middle-text"
            *ngFor="let modal of futureModals">
            <label [for]="modal._id" class="label">
                <div 
                    class="row line future">
                    <div class="col-2">
                        <input type="checkbox" ngModel [name]="modal._id" [id]="modal._id" class="large-checkbox">
                    </div>
                    <div class="col-10">
                        <app-modal-detail [modal]="modal"></app-modal-detail>
                    </div>
                </div>
            </label>
        </div>
    </div>
    <div *ngIf="pastModal.length > 0">
        <div class="middle-top-text padding-top-10 padding-bottom-6 text-center">Elmúlt</div>
        <div
            class="middle-text"
            *ngFor="let modal of pastModal">
            <label [for]="modal._id" class="label">
                <div 
                    class="row line danger">
                    <div class="col-2">
                        <input type="checkbox" ngModel [name]="modal._id" [id]="modal._id" class="large-checkbox">
                    </div>
                    <div class="col-10">
                        <app-modal-detail [modal]="modal"></app-modal-detail>
                    </div>
                </div>
            </label>
        </div>
    </div>
</form>