<div *ngIf="noDates.length > 0">
    <div class="middle-top-text padding-top-10 padding-bottom-6 text-center"> Jövőbeli bezárások </div>
    <div 
        *ngIf="checkedNum > 0"
        class="row py-3 sticky justify-content-center">
        <div class="col-md-4 col-6 text-left">
            <div 
                (click)="checkAll()"
                class="cbtn cbtn-one mini2">
                <span>Összes {{allValue ? 'ki' : 'be'}}</span>
            </div>
        </div>
        <div class="col-md-4 col-6 text-center middle-text">Kijelölve: {{checkedNum}}</div>
        <div class="col-md-4 col-6 text-center">
            <div 
                (click)="onDelete()"
                class="cbtn cbtn-one mini2">
                <span>Törlés</span>
            </div>
        </div>
    </div>
</div>
<form #future="ngForm">
    <div *ngIf="noDates.length > 0">
        <div
            class="middle-text"
            *ngFor="let noDate of noDates">
            <label [for]="noDate._id" class="label">
                <div 
                    class="row line future">
                    <div class="col-2">
                        <input type="checkbox" ngModel [name]="noDate._id" [id]="noDate._id" class="large-checkbox">
                    </div>
                    <div class="col-10">
                        <app-no-date-detail [noDate]="noDate"></app-no-date-detail>
                    </div>
                </div>
            </label>
        </div>
    </div>
</form>