<div class="middle-top-text pb-5 text-center"> Már majdnem kész, de még ellenőrizd le az adataidat! </div>
<div class="card text-center middle-text container">
    <div
        *ngIf="ready"
        class="row">
        <div class="col-md-7 col-12 text-left">
            <div>
                <div class="text-center pb-2 pt-2">
                    Megadott foglalási adatok
                </div>
                <div class="hr mb-5"></div>
                <div class="row pb-xl-3">
                    <div class="col-xl-4 col-12 text-xl-right">
                        Név:
                    </div>
                    <div class="col-xl-8 col-12">{{ currentReservation.name}}</div>
                </div>
                <hr class="small">
                <div class="row pb-xl-3">
                    <div class="col-xl-4 col-12 text-xl-right">
                        Email:
                    </div>
                    <div class="col-xl-8 col-12">{{ currentReservation.email}}</div>
                </div>
                <hr class="small">
                <div class="row pb-xl-3">
                    <div class="col-xl-4 col-12 text-xl-right">
                        Telefonszám:
                    </div>
                    <div class="col-xl-8 col-12">{{ currentReservation.phoneNumber}}</div>
                </div>
                <hr class="small">
                <div class="row pb-xl-3">
                    <div class="col-xl-4 col-12 text-xl-right">
                        Dátum: 
                    </div>
                    <div class="col-xl-8 col-12">
                        {{ currentReservation.date.getFullYear() }}.
                        {{ months[currentReservation.date.getMonth()] }}
                        {{ currentReservation.date.getDate() < 10 ? '0' + currentReservation.date.getDate() + '.' : currentReservation.date.getDate() + '.' }}
                        {{ (currentReservation.date.getHours() < 10 ? '0' + currentReservation.date.getHours() + ':' : currentReservation.date.getHours() + ':') + (currentReservation.date.getMinutes() < 10 ? '0' + currentReservation.date.getMinutes() : currentReservation.date.getMinutes()) }}
                    </div>
                </div>
                <hr class="small">
                <div class="row pb-xl-3">
                    <div class="col-xl-4 col-12 text-xl-right">
                        Játékosszám: 
                    </div>
                    <div class="col-xl-8 col-12">{{ currentReservation.playerNumber }}</div>
                </div>
                <hr class="small">
                <div class="row pb-xl-3">
                    <div class="col-xl-4 col-12 text-xl-right">
                        Csomag:
                    </div>
                    <div class="col-xl-8 col-12">
                        <div>
                            Típus: {{ packageType.name }}
                        </div>
                        <div>
                            Időtartam: {{ package.duration }} óra
                        </div>
                        <div>
                            Kezdőár: {{ package.basePrice }} Ft
                        </div>
                        <div>
                            Ft / lövedék: {{ package.bulletPrice }} Ft
                        </div>
                        <div *ngIf="package.includedBullets > 0">
                            Lövedék az árban: {{ package.includedBullets }} db
                        </div>
                    </div>
                </div>                
                <hr class="small">
                <div class="row pb-xl-3">
                    <div class="col-xl-4 col-12 text-xl-right">
                        Megjegyzések:
                    </div>
                    <div class="col-xl-8 col-12">
                        {{ currentReservation.notes !== "" ? currentReservation.notes : "-" }}
                    </div>                    
                </div>
            </div>
            <div class="hr d-block d-sm-none d-none d-sm-block d-md-none my-5"></div>
        </div>
        <div class="col-md-5 col-12 top50">
            <div>
                <div class="text-large" >Foglalás jováhagyása</div>
                <form (ngSubmit)="onSubmit()" #f="ngForm">
                    <div class="pb-5">
                        Kijelentem, hogy a foglalási feltételeket elfogadom.......
                    </div>
                    <label class="label">
                        <div class="toggle">
                            <input
                            class="toggle-state" type="checkbox"
                            name="admission"
                            ngModel
                            required #admissionBox="ngModel" >
                            <div class="toggle-inner">
                                <div class="indicator"></div>
                            </div>
                            <div class="active-bg"></div>
                        </div>
                        <div class="label-text">Elfogadom</div>
                        </label>
                </form>
            </div>
                <div class="text-center pt-5 pb-5">
                    <div
                        *ngIf="admissionBox.valid"
                        (click)="onSubmit()"
                        class="cbtn cbtn-one small">
                        <span>Jóváhagyás</span>
                    </div>
                </div>
            <div
                *ngIf="isLoading"
                class="text-center">
                Betöltés...
            </div>
        </div>
    </div>
</div>
