<div class="backdrop" (click)="onClose()"></div>
<div class="alert-box">
    <div class="middle-text close-x pb-3">
       <span (click)="onClose()">X</span>
    </div>
    <div class="content middle-text">
        <div class="font-weight-bold pb-3">{{package.fromNumberLimit}} - {{package.toNumberLimit}} fő</div>
        <hr class="orange">
        <div *ngIf="package.disabled" class="text-danger">Nem aktív!</div>
        <div class="font-weight-bold pt-5">Alapár:</div>
        <div class="pb-4 font-italic"> {{package.basePrice}} fő</div>
        <div class="font-weight-bold">Golyóár:</div>
        <div class="pb-4 font-italic"> {{package.bulletPrice}} Ft</div>
        <div class="font-weight-bold">Időtartam:</div>
        <div class="pb-4 font-italic"> {{package.duration}} óra</div>
        <div class="font-weight-bold">Tartalmazott golyók:</div>
        <div class="pb-4 font-italic"> {{package.includedBullets}} db</div>
        <div class="font-weight-bold">Leírás:</div>
        <div class="pb-4 font-italic"> {{package.description !== '' ? package.description : '-'}}</div>
        <div
            class="padding-top-2 padding-bottom-2">
            <div
                (click)="onUpdate()"
                class="cbtn cbtn-one small">
                <span> Módosítás </span>
            </div>
        </div>
        <div class="text-danger small-text font-italic" *ngIf="reservations.length > 0">
            <p>{{ reservations.length }} db foglalás tartozik a csomaghoz. Csak akkor lehet törölni, ha nem tartozik hozzá foglalás.</p>
            <p>Foglalási nevek:</p>
            <p *ngFor="let res of reservations">
                {{res.name}}
            </p>
        </div>
        <div
            *ngIf="reservations.length === 0"
            class="padding-top-2 padding-bottom-2">
            <div
                (click)="onDelete()"
                class="cbtn cbtn-one small">
                <span> Törlés </span>
            </div>
        </div>
    </div>
</div>