/* You can add global styles to this file, and also import other style files */

/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */
.mat-expansion-panel {
    padding-bottom: 5vh;
}

.mat-expansion-panel-header {
    /* background-color: rgb(112, 107, 107); */
    border: 2px solid rgb(112, 107, 107);
    border-radius: 25px !important;
}
.mat-expansion-panel-header-title {
    display: inline !important;
    text-align: left !important;
}

@media screen and (min-width: 1001px) {
    .mat-expansion-panel-header {
        left: 35% !important;
        width: 30% !important;
    }
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
    .mat-expansion-panel-header {
        left: 25% !important;
        width: 50% !important;
    }
}

.mat-expansion-panel-header.mat-expanded {
    /* background: rgba(209, 81, 26, .6) !important; */
    border: 4px solid rgba(209, 81, 26, .6) !important;
    margin-bottom: 5vh;
}

.mat-horizontal-content-container {
    background-color: rgb(32, 32, 32);
}
.mat-horizontal-stepper-header-container {
    background-color: rgb(32, 32, 32);
}
.mat-step-header .mat-step-icon-selected {
    background-color: rgb(209, 81, 26);
}
.mat-step-header .mat-step-icon-state-edit {
    background-color: green;
}
.mat-step-text-label {
    color: rgb(255, 235, 204) !important;
    font-size: 3vh;
}
.mat-card {
    text-align: center;
    background-color: #333534 !important;
    border-radius: 25px !important;
    color: rgb(255, 235, 204) !important;
    -webkit-box-shadow: 0 8px 12px -6px black !important;
    -moz-box-shadow: 0 8px 12px -6px black !important;
    box-shadow: 0 8px 12px -6px black !important;
    cursor: pointer;
    transform: translateY(0px) !important;
    -webkit-transition: .15s ease-in-out !important;
    -moz-transition: .15s ease-in-out !important;
    -o-transition: .15s ease-in-out !important;
    transition: .15s ease-in-out !important;
}

@media (hover: hover) {
    .mat-card:hover {
        transform: translateY(-20px) !important;
        -webkit-box-shadow: 0 30px 40px -6px black !important;
        -moz-box-shadow: 0 30px 40px -6px black !important;
        box-shadow: 0 30px 40px -6px black !important;
    }
}

.orange {
    color: rgb(209, 81, 26);
}

.mat-card.selected {
    border: 4px solid green;
}

.mat-card-header {
    display: inline !important;
}

#packages-stepper div.mat-horizontal-stepper-header-container {
    display: none !important;
}

@media screen and (max-width: 600px) {
    .mat-step-text-label {
        color: rgb(255, 235, 204);
        display: none;
    }
    .mat-step-header .mat-step-icon-selected {
        background-color: rgb(209, 81, 26);
        left: 15%;
    }
    .mat-step-header .mat-step-icon-state-edit {
        background-color: green;
        left: 15%;
    }
}

.mat-stepper-horizontal-line {
    border-top-color: rgb(255, 235, 204);
}
body {
    margin: 0px;
}
body.modal-open {
    overflow: hidden;
}
.component {
    padding-top: calc(3vh + 2vw + 2vh);
    overflow-x: hidden;
}

.component.dark {
    background-color: rgb(32, 32, 32);
    color: rgb(255, 235, 204);
}

hr.orange {
    border-top: 3px solid rgb(209, 81, 26);
}

hr.orange.small {
    border-top: 0.5px solid rgba(209, 81, 26, 0.8);
    width: 90%;
    left: 5%;
}
hr.center {
    left: 50%;
    width: 0%;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

hr.center.open {
    left: 0%;
    width: 100%;
}

hr.left {
    left: -50%;
    width: 0%;
    position: relative;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

hr.left.open {
    width: 100%;
    left: 0%;
}

.light-background {
    width: 100%;
    background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8));
    color: rgb(32, 32, 32);
}

.dark-background {
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8));
    color: rgb(255, 235, 204);
}

.big-padding {
    position: relative;
    padding-top: 25vh;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 15vh;
}

.medium-padding {
    padding-top: 10vh;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 10vh;
}

.cbtn {  
    text-align: center;
    cursor: pointer;
    display: inline-block;
    outline: none;
}

.cbtn.disabled {
    cursor: default;
    opacity: 0.3;
    pointer-events: none;
}
.cbtn.big {
    line-height: 105px;
    height: 100px;
    width: 400px;
    font-size: 25px;
}

.cbtn.small {
    line-height: 75px;
    height: 80px;
    width: 200px;
    font-size: 25px;
}
.cbtn.mini {
    line-height: 50px;
    height: 50px;
    width: 80%;
    font-size: 20px;
}

@media screen and (max-width: 450px) {
.cbtn.big {
    line-height: 85px;
    height: 90px;
    width: 80%;
    font-size: 25px;
}

.cbtn.small {
    line-height: 65px;
    height: 70px;
    width: 150px;
    font-size: 20px;
}
}

.cbtn-one {
    position: relative;
}

.cbtn-one span {
    transition: all 0.1s;
    color:rgb(255, 235, 204);
    position: relative;
    z-index: 4;
}
@media (hover: hover) {
    .cbtn-one:hover span {
        transition: all 0.1s;
        color:rgb(209, 81, 26);
        position: relative;
        z-index: 4;
        font-weight: 550;
    }
    .cbtn-one:hover span {
        letter-spacing: 3px;
    }
    .cbtn-one:hover::before {
        opacity: 1; 
        transform: scale(1, 1); 
    }
    .cbtn-one:hover::after {
        opacity: 0; 
        transform: scale(0.1, 1);
    }
}

.cbtn-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 3px;
    border-bottom-width: 3px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: #d1511a;
    border-bottom-color: rgb(209, 81, 26);
    transform: scale(0.1, 1);
}
.cbtn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255,255,255,0.1);
    border-radius: 25px;
}

.cbtn-one.dark::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(0,0,0,0.8);
    border-radius: 25px;
}


.padding-top-2 {
    padding-top:2vh;
}


.padding-top-4 {
    padding-top:4vh;
}


.padding-top-6 {
    padding-top:6vh;
}


.padding-top-8 {
    padding-top:8vh;
}


.padding-top-10 {
    padding-top:10vh;
}


.padding-bottom-2 {
    padding-bottom:2vh;
}


.padding-bottom-4 {
    padding-bottom:4vh;
}


.padding-bottom-6 {
    padding-bottom:6vh;
}


.padding-bottom-8 {
    padding-bottom:8vh;
}


.padding-bottom-10 {
    padding-bottom:10vh;
}

.large-text{
    font-size: calc(2vw + 6vh);
}

.middle-top-text {
    font-size: calc(1vw + 4vh);
}

.larger-text{
    font-size: 10vh;
}

.middle-text{
    font-size: 3vh;
}

.small-text{
    font-size: 2.5vh;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    right: 5px;
    left: auto;
    color: rgb(209, 81, 26) !important;
    font-weight: 900;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    left: 5px;
    right: auto;
    color: rgb(209, 81, 26) !important;
    font-weight: 900;
}

.swiper.s-wrapper .swiper-pagination .swiper-pagination-handle {
    position: relative;
    display: inline-block;
    margin: 10px !important;
    cursor: pointer;
    pointer-events: all;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: rgb(209, 81, 26) !important;
    size: 3;
    padding: 5px;
    pointer-events: none;
}