/* You can add global styles to this file, and also import other style files */
body {
    margin: 0px;
}
body.modal-open {
    overflow: hidden;
}
.component {
    margin-top: calc(3vh + 2vw + 2vh);
}