<div class="background">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-md-4 col-12">
                <div style="padding-bottom: 0px;" class="lulo-full">Gyenes</div>
                <div style="padding-top: 0px;">Paintball</div>
                <div><a [routerLink]="['/privacy']">Adatkezelési nyilatkozat</a></div>
                <div><a [routerLink]="['/szechenyi']">Széchenyi 2020 pályázat</a></div>
                <hr class="orange d-block d-sm-none d-none d-sm-block d-md-none">
            </div>
            <div class="col-md-4 col-12 middle-col">
                <div>Balaton utca, Gyenesdiás,</div>
                <div>8315</div>
                <img
                    class="img"
                    [routerLink]="['/szechenyi']"
                    src="../../../assets/pictures/SZ_2020.webp" alt="asdf">
                <hr class="orange d-block d-sm-none d-none d-sm-block d-md-none">
            </div>
            <div class="col-md-4 col-12">
                <div>Tel: <span itemprop="telephone"><a href="tel:+36306083283">+36306083283</a></span></div>
                    <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span itemprop="telephone"><a href="tel:+36208028647">+36208028647</a></span></div>
                    <div> Nyitvatartás:</div>
                    <div>minden nap</div>
                    <div> 8:00-12:00</div>
                    <div> 14:00-18:00</div>
                    <hr class="orange d-block d-sm-none d-none d-sm-block d-md-none">
            </div>
        </div>
    </div>
    <div class="container text-center">
        <span class=" mr-5">
            <a href="https://www.facebook.com/gyenespaintball" target="_blank">
                <img class="icon" src="../../../assets/icons/facebook.png" alt="">
            </a>
        </span>
        <span class="ml-5">
            <a href="https://www.instagram.com/gyenespaintball/" target="_blank">
                <img class="icon" src="../../../assets/icons/instagram-sketched.png" alt="">
            </a>
        </span>
    </div>
</div>