<div class="background">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-md-4 col-12">
                <div>Gyenes</div>
                <div>Paintball</div>
                <div><a href="#">Adatkezelési nyilatkozat</a></div>
                <div><a href="#">Széchenyi 2020 pályázat</a></div>
                <hr class="orange d-block d-sm-none d-none d-sm-block d-md-none">
            </div>
            <div class="col-md-4 col-12">
                <div>Balaton utca, Gyenesdiás,</div>
                <div>8315</div>
                <img src="../../../assets/pictures/SZ_2020.webp" alt="asdf">
                <hr class="orange d-block d-sm-none d-none d-sm-block d-md-none">
            </div>
            <div class="col-md-4 col-12">
                <div>Tel: 06208028647</div>
                    <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 06306083283</div>
                    <div> Nyitvatartás:</div>
                    <div>minden nap</div>
                    <div> 8:00-12:00</div>
                    <div> 14:00-18:00</div>
                    <hr class="orange d-block d-sm-none d-none d-sm-block d-md-none">
            </div>
        </div>
    </div>
    <div class="container text-center">
        <span class=" mr-5">
            <a href="https://www.facebook.com/gyenespaintball">
                <img class="icon" src="../../../assets/icons/facebook.png" alt="">
            </a>
        </span>
        <span class="ml-5">
            <a href="https://www.instagram.com/gyenespaintball/">
                <img class="icon" src="../../../assets/icons/instagram-sketched.png" alt="">
            </a>
        </span>
    </div>
</div>