.background {
    background-color: rgb(29, 28, 28);
    color: blanchedalmond;
    padding-top: 50px;
    padding-bottom: calc(8vh + 20px);
}

a{
    color: #d3531a;
    font-size: 3vh;
}

div {
    padding-top: 2vh;
    font-size: 3vh;
}

img {
    width: 60%;
    cursor: pointer;
}

img.icon {
    width: 5vh;
}
@media screen and (min-width: 721px) {
    .middle-col {
        border-left: calc(0.05vw + 0.3vh) solid #d3531a;
        border-right: calc(0.05vw + 0.3vh) solid #d3531a;
    }
}