<div class="middle-top-text text-center">Csomag típusok</div>
<div class="text-right pb-4">
    <button [routerLink]="['/operators/packages/new-type']" class="round">+</button>
</div>
<div
    [routerLink]="['/operators/packages', packageType.id, 'show']"
    *ngFor="let packageType of packageTypes"
    class="line middle-text">
    <div class="row">
        <div class="text-center col-md-4 col-12 font-weight-bold"> {{packageType.name}} </div>
        <div class="text-md-center col-md-4 col-8 text-left"> {{packageType.packages.length}} db csomag </div>
        <div class="text-md-center col-md-4 col-4 text-right text-success"> {{packageType.sale ? 'Akciós' : ''}} </div>
    </div>
</div>
