@media screen and (min-width: 1026px) {
    .head-line div {
        -webkit-mask-image: linear-gradient(to bottom, black 20%, transparent 100%);
        mask-image: linear-gradient(to bottom, black 20%, transparent 100%);
        position: absolute;
        text-align: center;
        width: 97%;
        font-size: 7vw;
        font-weight: bold;
        top: 1vh;
        left: 3vw;
    }
    .small {
        display: none;
    }
}
@media screen and (max-width: 1025px) {
    .big {
        display: none;
    }
    .small {
        display: inherit;
    }
    .head-line div {
        position: absolute;
        text-align: center;
        font-weight: bold;
    }
    .head-line div:nth-child(1) {
        -webkit-mask-image: linear-gradient(to bottom, black 20%, transparent 100%);
        mask-image: linear-gradient(to bottom, black 20%, transparent 100%);
        font-size: 6vw;
        top: 4vh;
        width: 94.5%;
        left: 5vw;
    }
    
    .head-line div:nth-child(2) {
        -webkit-mask-image: linear-gradient(to bottom, black 20%, transparent 100%);
        mask-image: linear-gradient(to bottom, black 20%, transparent 100%);
        font-size: 8vw;
        top: calc(3vh + 10vw);
        width: 97%;
        left: 3vw;
    }
}

@keyframes scroll-up {
    0% {
        transform: scale(0.8) translateY(0%);
        box-shadow: 0px calc(2vh + 0.6vw) 15px 0px black;
    }
    70% {
        transform: scale(1.1) translateY(-35%);
        box-shadow: 0px calc(2.7vh + 0.81vw) 15px 5px black;
    }
    100% {
        transform: scale(0.8) translateY(0%);
        box-shadow: 0px calc(2vh + 0.6vw) 15px 0px black;
    }
  }
img.scroll-down {
    position: absolute;
    bottom: 5%;
    width: calc(5vh + 1vw);
    left: calc(50vw - 2.5vh - 0.5vw);
    border-radius: 50%;
    animation: scroll-up 4s infinite ease-in-out;
    cursor: pointer;
}